@import url('https://fonts.googleapis.com/css?family=Comfortaa|Rubik:300');

.verdictlogo {
    color: white;
    font-size: 50px;
    font-family: 'Comfortaa', cursive;
    font-weight: bold;
    margin: 2pt 0 0 10pt;
    line-height: 100%;
}

.verdictlogo-description {
    font-family: 'Rubik', sans-serif;
    font-weight: 300;
    font-size: 20px;
    margin: 0 0 2pt 10pt;
}

a.verdictlogo {
    text-decoration: none;
}

.verdictlogo-div {
    width: 400px;
}

.verdict-intro {
    background-color: rgba(9, 75, 115, 0.2);
    border-radius: 5px;
    padding: 5px 30px 10px 30px;
    margin: 20px 0px 30px 0px;
}

.verdict-intro-text {
    font-size: 20px;
    opacity: 1.0;
    text-align: center;
}

.intro-image {
    width: 300px;
    height: 170px;
}

.intro-row {
    height: 200px;
}

table.docutils td {
    padding: 5px 8px 5px 5px;
    width: 200px;
}

table.center {
    margin-left:auto;
    margin-right:auto;
}

table {
    margin-top: 20px;
    margin-bottom: 30px;
}

th {
    background-color: #C6C6DB;
    font-weight: bold;
    height: 30px;
    vertical-align: middle;
}

a:link{color:inherit}
/*a:active{color:inherit}*/
a:visited{color:inherit}
a:hover{color: Chocolate }

