.md-header {
  background-color: #3D3F57 !important;
}

.md-tabs {
  background-color: #3D3F57 !important;
}

.md-footer-nav {
  background-color: #3D3F57 !important;
}

.md-footer-meta {
  background-color: black !important;
}