.md-header {
  background-color: #3D3F57 !important;
}

.md-tabs {
  background-color: #3D3F57 !important;
}

.md-footer-nav {
  background-color: #3D3F57 !important;
}

.md-footer-meta {
  background-color: black !important;
}

.md-typeset {
  font-size: 1.4em;
}

.codehilite {
  font-size: 1.2em;
}